#logo{
    height: 60px;
    width: 60px;
}
body{
    height: 100%;
    width: 100%;
}
::content{
    height: 100%;
    width: 100%;
}
#img1{
    height: 500px;
    width: 500px;
}
html{
    margin: 0;
}
body{
    margin: 0;
    background-color: #e0e0e0;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
#pic{
    margin: 2% 4% 0 4%; 
}
#form{
    margin: 0 4% 1% 4%;;
}